.invoice-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}


.mat-cell {
  justify-content: flex-end;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}
